body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
/* adding grid properties to layout the cards */
.emojis {
  display: grid;
  grid-template-rows: 300px 350px;
  grid-template-columns: 400px 400px;
  gap: 20px;
}

.emoji {
    display: flex;
    flex-direction: column;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
    
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    flex-grow: 1;
  }
/* adding flex properties to layout the content of the cards */
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* rearranging the position of the icons */
  .icon {
    display: flex;
    font-size: 4rem;
    justify-content: center;
    order: -1;
  }
  /* adding flex-grow to align the buttons */
.emoji p{
  flex-grow: 1;
}